# ---- 以 Python 為主要語言 ----
*.py linguist-language=Python
*.pyw linguist-language=Python
*.ipynb linguist-language=Python

*.fa linguist-detectable=false
*.fasta linguist-detectable=false
*.faa linguist-detectable=false
*.fna linguist-detectable=false
data/** linguist-detectable=false

*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
static/** linguist-vendored
templates/** linguist-vendored

